{
  "plugins": [
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "antd",
          "@ant-design",
          "lodash",
          "react-dom",
          "simpl-schema"
        ]
      }
    ]
  ]
}
