{
  "parser": "@typescript-eslint/parser",
  "plugins": ["meteor", "react", "react-hooks", "@typescript-eslint"],
  "extends": [
    "plugin:meteor/recommended",
    "react-app",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "meteor": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "BigInt": true
  },
  "ignorePatterns": ["**/*.app-test.js", "imports/server/TestHelpers.js"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "no-console": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
