.editor {
    /* display: flex; */
    /* height: 100vh; */
    /* background: #2b313c; */
    /* min-height: 600px; */
}
/* .editor__row {
    height: 100%;
    flex-grow: 1;
} */

.editor__main {
    overflow: hidden;
    height: 100%;
}