.examine-right-sidebar-bottom .ant-tabs-top-content {
    display: flex;
    flex-grow: 1;
}
.examine-right-sidebar-bottom .ant-tabs-tabpane {
    display: flex;
    flex-direction: column;
}

.examine-right-sidebar-bottom .ant-tabs-tabpane.ant-tabs-tabpane-inactive {
    display: none !important;
}
