.examine-observer-tab {
  padding: 0.8rem 2.4rem;
}

.examine-observer-tab-block {
  display: flex;
  flex-direction: column;
}

.examine-observer-tab-block__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.examine-observer-tab-block__name {
  display: flex;
  align-items: center;
}
.examine-observer-tab-block__name-img {
  display: flex;
  background: grey;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.examine-observer-tab-block__name-title {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.examine-observer-tab-block__list {
  padding: 0;
  margin: 0;
}

.examine-observer-tab-block__list-item {
  display: flex;
  padding: .8rem 0;
  margin: 0;
  border-bottom: 1px solid rgba(91, 103, 133, 0.5);
  list-style: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.examine-observer-tab-block__list-item__move-pieces-btn {
  background: url(images/move-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 2rem;
  width: 3rem;
  outline: none;
}

.examine-observer-tab-block__list-item__move-pieces-btn--active {
  background: url(images/move-icon-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 2rem;
  width: 3rem;
}

.examine-owner-tab-block__list {
  padding: 0;
  margin: 0;
}

.examine-owner-tab-block__list-item {
  padding: .8rem 0;
  margin: 0;
  border-bottom: 1px solid rgba(91, 103, 133, 0.5);
  list-style: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000000;
  text-transform: capitalize;
}
.observe-search__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.examine-owner-tab-block__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.examine-owner-tab-block__name {
  display: flex;
}
