/* board color scheme */
.cg-wrap {
  background-image: url("../../public/images/board/blue.svg");
}


/* images for black pieces */
.merida .cg-wrap .rook.black {
  background-image: url("../../public/images/pieces/merida/bR.svg");
}
.merida .cg-wrap .queen.black {
  background-image: url("../../public/images/pieces/merida/bQ.svg");
}
.merida .cg-wrap .king.black {
  background-image: url("../../public/images/pieces/merida/bK.svg");
}
.merida .cg-wrap .pawn.black {
  background-image: url("../../public/images/pieces/merida/bP.svg");
}
.merida .cg-wrap .bishop.black {
  background-image: url("../../public/images/pieces/merida/bB.svg");
}
.merida .cg-wrap .knight.black {
  background-image: url("../../public/images/pieces/merida/bN.svg");
}


/* images for white pieces */
.merida .cg-wrap .rook.white {
  background-image: url("../../public/images/pieces/merida/wR.svg");
}
.merida .cg-wrap .queen.white {
  background-image: url("../../public/images/pieces/merida/wQ.svg");
}
.merida .cg-wrap .king.white {
  background-image: url("../../public/images/pieces/merida/wK.svg");
}
.merida .cg-wrap .pawn.white {
  background-image: url("../../public/images/pieces/merida/wP.svg");
}
.merida .cg-wrap .bishop.white {
  background-image: url("../../public/images/pieces/merida/wB.svg");
}
.merida .cg-wrap .knight.white {
  background-image: url("../../public/images/pieces/merida/wN.svg");
}
