.actions {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.link {
    margin-left: 10px;
    margin-right: 10px;
}

.element {
    width: calc(50% - 15px);
}