.app-wrapper {
    display: flex;
    height: 100vh;
    /* background: #2b313c; */
    min-height: 50rem;
    overflow: hidden;
}

.app-wrapper__row {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
}

.ant-notification-notice-message {
    width: 100%;
}

.ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 0;
}