

.main .row {
    display: flex;
}
/* All media css*/
@media (max-width: 767px) {
  .pull-left.image img {
    max-width: 90px !important;
    margin-top: 5px;
  }

  /* .user-tagline-component {
    margin-top: 15px;
  } */

  .board-player-bottom .board-player-userTagline {
    display: inline-block;
    margin-top: 15px;
  }

  .float-right.menu-close-icon a {
    font-size: 24px !important;
  }

  .game {
    margin-top: 6px;
  }

  .ribbon-move-list {
    background: #1a1a1a;
    color: #fff;
    font-size: 14px;
    padding: 4px 0;
    margin-top: 0px;
    text-align: left;
    padding-left: 15px;
  }


  .board-player-bottom {
    position: relative;
    display: flex;
    flex: 0 0 40px;
    flex-direction: row;
    height: 20px;
    min-height: 20px;
    padding-top: 5px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
/*
  .clock-top {
    right: 15px;
    line-height: 23px;
    padding: 7px 10px;
    font-size: 21px;
    margin-top: 45px;
    width: 90px;
    text-align: center;
  }
*/
  .clock-bottom {
    right: 15px;
    line-height: 23px;
    padding: 7px 10px;
    text-align: center;
    font-size: 21px;
    top: 10px;
    background: #606060;
    width: 90px;
  }

  .move-list-buttons {
    background: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    color: #828282;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .move-list-item {
    flex: auto;
  }

  .captured-pieces {
    margin-left: 7px;

  }

  .user-pic {
    margin-top: 5px;
  }

  .board-section {
    width: 100%;
    max-width: 100%;
    flex: inherit;
    padding: 0 0;
  }

  /* .right-section {
    display: none;
  }
 */
  .header {
    background-color: #1565c0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }

  .sidebar .pull-left.image {
    float: left;
    width: 220px;
    position: fixed;
    z-index: 99;
    padding-left: 7px;
    padding-top: 3px;
    top: 0;
    left: 50px;
  }

  .sidebar .float-right.menu-close-icon {
    position: fixed;
    top: 12px;
    right: inherit;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    left: 15px;
  }

  .sidebar.fliph .float-right.menu-close-icon {
    position: fixed;
    margin: 0px;
    float: left !important;
    top: 12px;
    right: inherit;
    left: 15px;
  }

  .sidebar {
    width: 170px;
    z-index: 999;
    height: 100vh;
    background-color: #1565c0;
    transition: all 0.5s ease-in-out;
    position: fixed !important;
    left: -170px;
    top: 45px;
  }

  .sidebar.left.device-menu.fliph {
    width: 170px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 999;
    height: 100vh;
    left: 0px;
    top: 45px;
  }

  .navbar-light .navbar-brand {
    margin-left: 40px;
  }

  .pull-right.top-right-menu-icons-group {
    position: relative;
    z-index: 99999;
    display: flex;
    width: 160px;
    height: 40px;
    align-items: center;
    margin-top: 5px;
  }

  .top-menu-list {
    align-items: center;
    flex: auto;
  }

  .top-menu-list img {
    float: right;
  }

  .sidebar.left.device-menu ul li span {
    padding-left: 0px;
    display: inline-block;
    line-height: 22px;
  }

  .sidebar.left.device-menu.fliph li a span {
    display: inline-block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .sidebar.fliph ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar li a,
  .sidebar li a.collapsed.active {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-align: left !important;
    text-decoration: none;
  }

  .sidebar ul li img {
    max-width: 24px;
    margin-right: 15px;
  }

  /* .left-col {
    padding-left: 0px;
    position: fixed;
    z-index: 999;
  } */

  .main-square {
    width: 100vw;
    height: 100vw;
  }

  .navbar {
    position: relative;
    min-height: 52px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }

  .main {
    background: #000;
    height: 100vh;
    padding: 0 15px;
    width: 100%;
    overflow: hidden;
  }

  .white span.notation-322f9.numeric-fc462,
  .blue .alpha-d2270 {
    color: #fff;
  }

  .blue span.notation-322f9.numeric-fc462,
  .blue .alpha-d2270 {
    color: #1565c0
  }

  .numeric-fc462 {
    top: 4px;
    left: 2px;
    font-weight: bold;
  }

  .alpha-d2270 {
    bottom: 2px;
    right: 3px;
    font-weight: bold;
  }
}

/* iphone changes*/
@media (max-width: 380px) {
  .ribbon-move-list {
    display: none;
  }



}


@media (min-width: 768px) and (max-width: 991px) {
  .pull-left.image img {
    max-width: 70px !important;
    margin-top: 0px;
  }

  .float-right.menu-close-icon a {
    font-size: 24px !important;
  }

  .game {
    margin-top: 20px;
  }

  .ribbon-move-list {
    background: #1a1a1a;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    margin-top: 0px;
    text-align: left;
    padding-left: 15px;
  }

  .clock-bottom {
    right: 15px;
    padding: 6px 10px;
    text-align: center;
    font-size: 21px;
    top: 15px;
    background: #606060;
    width: auto;
  }

  .move-list-buttons {
    background: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 44px;
    color: #828282;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .move-list-item {
    flex: auto;
  }

  .captured-pieces {
    margin-left: 7px;
  }

  .user-pic {
    margin-top: 5px;
  }

  .board-section {
    width: 100%;
    max-width: 100%;
    flex: inherit;
    padding: 0 0;
  }

  .right-section {
    display: block;
  }

  .header {
    background-color: #1565c0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }

  .sidebar .pull-left.image {
    float: left;
    width: 220px;
    position: fixed;
    z-index: 99;
    padding-left: 7px;
    padding-top: 3px;
    top: 3px;
    left: 50px;
  }

  .sidebar .float-right.menu-close-icon {
    position: fixed;
    top: 2px;
    right: inherit;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    left: 15px;
  }

  .sidebar.fliph .float-right.menu-close-icon {
    position: fixed;
    margin: 0px;
    float: left !important;
    top: 2px;
    right: inherit;
    left: 15px;
  }

  .sidebar {
    width: 170px;
    z-index: 999;
    height: 100vh;
    background-color: #1565c0;
    transition: all 0.5s ease-in-out;
    position: fixed !important;
    left: -170px;
    top: 30px;
  }

  .sidebar.left.device-menu.fliph {
    width: 170px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 999;
    height: 100vh;
    left: 0px;
    top: 30px;
  }

  .navbar-light .navbar-brand {
    margin-left: 40px;
  }

  .pull-right.top-right-menu-icons-group {
    position: relative;
    z-index: 99999;
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
    margin-top: 0px;
  }

  .top-menu-list {
    align-items: center;
    flex: auto;
  }

  .top-menu-list img {
    float: right;
  }

  .sidebar.left.device-menu ul li span {
    padding-left: 0px;
    display: inline-block;
    line-height: 22px;
  }

  .sidebar.left.device-menu.fliph li a span {
    display: inline-block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .sidebar.fliph ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar li a,
  .sidebar li a.collapsed.active {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-align: left !important;
    text-decoration: none;
  }

  .sidebar ul li img {
    max-width: 24px;
    margin-right: 15px;
  }

  /*.left-col {
    padding-left: 0px;
    position: fixed;
    z-index: 999;
  }*/

  .main-square {
    width: 100vw;
    height: 100vw;
  }

  .navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 0px;
    border: 0px solid transparent;
  }

  .main {
    background: #000;
    height: 100vh;
    padding: 0 15px;
    width: 100%;
    overflow: hidden;
  }

  .white span.notation-322f9.numeric-fc462,
  .blue .alpha-d2270 {
    color: #fff;
  }

  .blue span.notation-322f9.numeric-fc462,
  .blue .alpha-d2270 {
    color: #1565c0
  }

  .numeric-fc462 {
    top: 4px;
    left: 5px;
    font-weight: bold;
  }

  .alpha-d2270 {
    bottom: 4px;
    right: 6px;
    font-weight: bold;
  }


}

/*End this code*/

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    background-color: #1565c0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
  }

  .sidebar .pull-left.image {
    float: left;
    width: 220px;
    position: fixed;
    z-index: 99;
    padding-left: 7px;
    padding-top: 3px;
    top: 0;
    left: 50px;
  }

  .sidebar .float-right.menu-close-icon {
    position: fixed;
    top: 17px;
    right: inherit;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    left: 15px;
  }

  .sidebar.fliph .float-right.menu-close-icon {
    position: fixed;
    margin: 0px;
    float: left !important;
    top: 17px;
    right: inherit;
    left: 15px;
  }

  .sidebar {
    width: 170px;
    z-index: 999;
    height: 100vh;
    background-color: #1565c0;
    transition: all 0.5s ease-in-out;
    position: fixed !important;
    left: -170px;
    top: 45px;
  }

  .sidebar.left.device-menu.fliph {
    width: 170px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 999;
    height: 100vh;
    left: 0px;
    top: 45px;
  }

  .navbar-light .navbar-brand {
    margin-left: 40px;
  }

  .pull-right.top-right-menu-icons-group {
    position: relative;
    z-index: 99999;
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
    margin-top: 5px;
  }

  .top-menu-list {
    align-items: center;
    flex: auto;
  }

  .top-menu-list img {
    float: right;
  }

  .sidebar.left.device-menu ul li span {
    padding-left: 0px;
    display: inline-block;
    line-height: 22px;
  }

  .sidebar.left.device-menu.fliph li a span {
    display: inline-block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .sidebar.fliph ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 20px 0 0 0 !important;
  }

  .sidebar li a,
  .sidebar li a.collapsed.active {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-align: left !important;
    text-decoration: none;
  }

  .sidebar ul li img {
    max-width: 24px;
    margin-right: 15px;
  }

  /*.left-col {
    padding-left: 0px;
    position: fixed;
    z-index: 999;
  }*/

  .main-square {
    width: 67vw;
    height: 67vw;
  }

  .navbar {
    position: relative;
    min-height: 52px;
    margin-bottom: 0px;
    border: 1px solid transparent;
  }

  .clock-bottom {
    right: 15px;
    padding: 3px 10px;
    text-align: center;
    font-size: 21px;
    top: 27px;
    background: #606060;
  }

}

@media (min-width: 1200px) {
/*   .clock-top {
    width: 93.94px;
    text-align: center;
  } */

  .clock-bottom {
    width: 93.94px;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  .board-section {
    padding-left: 1% !important;
  }
} 