.editor-right-sidebar-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.editor-right-sidebar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: white;
    height: 100vh;
}
.editor-right-sidebar__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 23px;
}
.editor-right-sidebar__title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1565C0;
    margin: 0;
    padding: 0;
    margin-left: 16px;
}
.editor-right-sidebar__name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 18px;
    color: #4F4F4F;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
.editor-right-sidebar__back-btn {
    background: #1565C0;
    border-radius: 8px;
    /* font-family: Roboto; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}
.editor-right-sidebar__color-block {
    display: flex;
}
.editor-right-sidebar__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* justify-content: space-between; */
    padding: 35px 23px;
    border-top: 1px solid #EFF0F3;
}
.editor-right-sidebar__btn-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 85px;
}
.editor-right-sidebar__btn {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    padding-left: 30px;
    border: none;
}
.editor-right-sidebar__btn--starting-pos {
    background: url('images/starting-position.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.editor-right-sidebar__btn--starting-pos:hover, .editor-right-sidebar__btn--starting-pos:active, .editor-right-sidebar__btn--starting-pos:focus {
    background: url('images/starting-position.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.editor-right-sidebar__btn--clear {
    background: url('images/clear.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.editor-right-sidebar__btn--clear:hover, .editor-right-sidebar__btn--clear:active, .editor-right-sidebar__btn--clear:focus {
    background: url('images/clear.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.editor-right-sidebar__btn--flip {
    background: url('images/flip.svg');
    background-repeat: no-repeat;
    background-position: left center;

}
.editor-right-sidebar__btn--flip:hover, .editor-right-sidebar__btn--flip:active, .editor-right-sidebar__btn--flip:focus {
    background: url('images/flip.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
.editor-right-sidebar__select .ant-radio-button-wrapper-checked {
    color: #004797 !important;
    background: #DBECFC !important;
}
.editor-right-sidebar__castling {
    margin-top: 40px;
}

.editor-right-sidebar__castling-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.editor-right-sidebar__block {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.editor-right-sidebar__check-name {
    padding-right: 11px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.editor-right-sidebar__checkbox-list {
    display: flex;
    flex-direction: column;
}
.editor-right-sidebar__fen-block {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.editor-right-sidebar__set {
    background: #DBECFC;
    border-radius: 7px 0px 0px 7px;
}

.editor-right-sidebar__set label {
    border: 1px solid rgba(91, 103, 133, 0.5);
}