.examine-right-sidebar {

}

.play-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 88vh;
}

.play-block__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60rem;
    height: 10rem;
    max-width: 90%;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    /* margin-top: 8rem; */
}
.play-block__top__button {
    color: #ffffff;
    height: 100%;
    background: #1565C0;
    border-radius: 6px;
}

.play-block__bottom {
    display: flex;
    flex-direction: column;
    width: 33rem;
    max-width: 90%;
    /* margin-top: 8rem; */
}

.play-block__btn-big {
    padding: 2.4rem;
    height: auto;
    background: #EFF0F3;
    margin-top: 2.4rem;
}