.fen-png {
    padding: 0 2.4rem;
}

.fen-png__content label {
    margin: 0;
    margin-top: 1.7rem;
}

.fen-pgn__button {
    background: #1565C0;
    border: none;
    margin-right: 1.8rem;
}

.fen-pgn__bottom {
    margin-top: 1.9rem;
}

.pgn-import-icon {
    margin-right: 5px;
    margin-bottom: 2px;
}

.pgn-import-label {
    position: relative;
    top: -1px;
}