
.game-control-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #EFF0F3;
    padding: 0 1rem;
}

.location-controls {
    display: flex;
}

.location-controls__item {
    display: flex;
    border: none;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.location-controls__item__image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}

.play-modal {

}

.play-modal__user-name {
    max-width: 150px;
}

.play-modal__btn-block {
    display: flex;
    justify-content: center;
}

.play-modal__btn-block button {
    margin-right: 1rem;
}

.play-modal__user-one, .play-modal__user-two {
    text-align: center;
}

.play-modal__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
}

.play-modal__main-center {
    padding: 0 6rem;
    text-align: center;
}

.play-modal__user-img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    margin-bottom: .8rem;
}

.play-modal__btn--primary {
    background: #1565C0;
}

.action-controls {
    display: flex;
}

.action-controls__item {
    display: flex;
    border: none;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.action-controls__item--takeback {
    background: url('images/navigation-takeback.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.action-controls__item--resign {
    background: url('images/navigation-resign.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.action-controls__item--draw {
    background: url('images/navigation-draw.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.action-controls__item--adjourn {
    background: url('images/navigation-adjourn.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.action-controls__item--abort {
    background: url('images/navigation-abort.svg');
    background-repeat: no-repeat;
    background-position: center;
}
