
.game-control-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #EFF0F3;
    padding: 0 1rem;
}

.location-controls {
    display: flex;
}
.location-controls__item {
    display: flex;
    border: none;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.location-controls__item--backward {
    background: url('images/navigation-start.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.location-controls__item--back {
    background: url('images/navigation-back.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.location-controls__item--next {
    background: url('images/navigation-next.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.location-controls__item--end {
    background: url('images/navigation-end.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.location-controls__item--flip {
    background: url('images/navigation-flip.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.play-modal {

}
.play-modal__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action-controls {
    display: flex;
}
.action-controls__item {
    display: flex;
    border: none;
    background-color: #fff;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}
.action-controls__item--takeback {
    background: url('images/navigation-takeback.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.action-controls__item--resign {
    background: url('images/navigation-resign.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.action-controls__item--draw {
    background: url('images/navigation-draw.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.action-controls__item--adjourn {
    background: url('images/navigation-adjourn.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.action-controls__item--abort {
    background: url('images/navigation-abort.svg');
    background-repeat: no-repeat;
    background-position: center;
}