.left-col {
	padding-left: 0px;
	height: 100%;
}
.left-sidebar {
	background: #1565c0;
	width: 140px;
	height: 100%;
}
#sidebar a.brand-logo {
	margin: 0 0 0 30px;
}
.pull-left.image {
	float: left;
	width: 220px;
	position: relative;
	z-index: 99;
	padding-left: 7px;
	padding-top: 10px;
}
.sidebar {
	overflow: hidden;
}
.sidebar__logo {
	display: flex;
    flex-shrink: 0;
	width: 9rem;
	height: 5rem;
	margin-top: 1rem;
	margin-left: 1rem;
	background: url('images/logo-white-lg.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.fliph .sidebar__logo {
	height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: left;
}
.sidebar__burger-btn {
	background: url('images/menu-button-of-three-lines.svg') no-repeat;
	background-position: center;
    background-size: contain;
    border: none;
    outline: none;
    flex: 1 1 0%;
    text-align: center;
    position: absolute;
	right: 1rem;
    top: 1.6rem;
	width: 2.6rem;
	height: 3rem;
    overflow: hidden;
	z-index: 99;
}

.fliph .sidebar__burger-btn {
	top: 5rem;
	right: 1.3rem;
}

.image > img {
	max-width: 110px;
	padding-left: 10px;
	padding-top: 10px;
}
.float-right.menu-close-icon {
	position: absolute;
	top: 19px;
	right: 8px;
	z-index: 99;
	transition: all 0.5s ease-in-out;
}
.fliph .float-right.menu-close-icon {
	position: relative;
	margin: 0px 0 10px 22px;
	float: left !important;
	top: 10px;
	right: 6px;
}
.float-right.menu-close-icon a {
	color: #fff;
}
.sidebar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 170px;
	z-index: 999;
	height: 100%;
	min-height: 100vh;
	background-color: #1565c0;
	transition: all 0.5s ease-in-out;
	position: relative;
}
.sidebar ul li span {
	padding-left: 0px;
	display: block;
	line-height: 22px;
}
.fliph li a span {
	display: none;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.sidebar.fliph ul {
	list-style: none;
	margin: 0px;
	padding: 90px 0 0 0;
}
.sidebar li a,
.sidebar li a.collapsed.active {
	display: block;
	padding: 8px 12px;
	color: #fff;
	border-left: 0px solid #dedede;
	text-align: center;
	text-decoration: none;
}
/*
.sidebar li a.active {
	background-color: #1565c0;
	border-left: 5px solid #dedede;
	transition: all 0.5s ease-in-out;
}
*/
.sidebar li a.active {
	background-color: #2a9bdc !important;
}
.sidebar li a:hover {
	background-color: #2a9bdc !important;
}
.sidebar li a i {
	padding-right: 5px;
}
.sidebar ul li .sub-menu li a {
	position: relative;
}
.sidebar ul li .sub-menu li a:before {
	font-family: FontAwesome;
	content: '\f105';
	display: inline-block;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
	content: '';
	position: absolute;
	left: -5px;
	top: 0;
	width: 5px;
	background-color: #111;
	height: 100%;
}
.sidebar ul li .sub-menu li a:hover {
	background-color: #222;
	padding-left: 20px;
	transition: all 0.5s ease-in-out;
}
.sub-menu {
	border-left: 5px solid #dedede;
}
.sidebar li a .nav-label,
.sidebar li a .nav-label + span {
	transition: all 0.5s ease-in-out;
}

.sidebar.fliph li a .nav-label,
.sidebar.fliph li a .nav-label + span {
	display: none;
	transition: all 0.5s ease-in-out;
}
.sidebar.fliph {
	width: 52px;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	z-index: 999;
	height: 100vh;
}

.sidebar.fliph li {
	position: relative;
}
.sidebar.fliph .sub-menu {
	position: absolute;
	left: 39px;
	top: 0;
	background-color: #222;
	width: 150px;
	z-index: 100;
}
/* Home Container Css start */
.home-middle-section {
    padding: 50px 50px 20px 0px;
}
.home-slider {
    height:380px;
    margin-bottom: 30px;
}
.home-slider img {
    max-width: 100%;
    max-height: 100%;
     width: 100%;
}
.home-description {
    font-size: 16px;
}

.sidebar.left.device-menu ul li span {
    padding-left: 0px;
    display: inline-block;
    line-height: 2.2rem;
  }

  .fliph.sidebar.left.device-menu ul li span {
	line-height: 1.2rem;
	font-size: 1.2rem;
	margin-top: 0.6rem;
    text-align: center;
  }

  .sidebar.left.device-menu.fliph li a span {
    display: inline-block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .menu-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 78px;
  }

  .sidebar li a {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-align: left !important;
    text-decoration: none;
  }
  .fliph.sidebar li a {
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 8px 0;
    color: #fff;
    border-left: 0px solid #dedede;
    text-align: left !important;
    text-decoration: none;
  }
  .fliph.sidebar ul li img {
	  margin: 0;
  }

  .sidebar ul li img {
    max-width: 24px;
    margin-right: 15px;
  }


.menu-link__item {
	display: flex;
	margin-bottom: 14px;
}

.menu-link__item a {
	display: flex;
	width: 100%;
}


/* Home Container Css End */

@media (max-width: 1199px) {
	.show-sm {
		display: block;
	}
	/*
	.show-lg {
		display: none;
	}
	*/
}
@media (min-width: 1200px) {
	.show-sm {
		display: none;
	}
	/*
	.show-lg {
		display: block;
	}*/
}
