.right-section {
	background: white;
	height: 100vh;
	float: right !important;
	padding: 0 !important;
}

.game-info {
	display: none;
}

.right-section .panel-title a.minus.collapsed {
	position: relative;
	background: url('images/pluse-icon.png') no-repeat left center;
	width: 24px;
	display: inline-block;
	vertical-align: top;
}

.right-section .panel-title a {
	position: relative;
	background: url(images/minus-icon.png) no-repeat left center;
	width: 23px;
	display: inline-block;
	vertical-align: top;
}

.right-section .panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
	border: none;
	box-shadow: 0 0 0 #000;
}

.right-section .panel-default > .panel-heading {
	color: #333;
	background-color: transparent;
	border-color: transparent;
	padding: 0;
	margin: 0;
	width: auto;
	border: none;
	box-shadow: 0 0 0 #000;
}

.right-section .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ddd;
	border: none;
	padding-top: 0;
}

.right-section .panel-heading {
	width: auto;
	display: inline-block;
	vertical-align: top;
}

.right-section .panel-title {
	margin-top: 7px;
}

.right-section .panel-collapse {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.right-section .panel-collapse {
	display: none;
	vertical-align: top;
}

.right-section .panel-collapse.collapse.in {
	display: inline-block;
	vertical-align: top;
}
/*
.tab-list {
	border: 0;
}
*/
.tab-content .userlist button:hover {
    background: #e6e5e5 !important;
    color: #1565c0 !important;
}
.tab-content .userlist button:focus {
    background: #e6e5e5 !important;
    color: #1565c0 !important;
	outline: none;
}
.right-bottom-content .tab-content {
	padding: 0;
	background: #fff;
}

.right-bottom-content .tabs {
	background: #fff;
}

.tab-content nav > .nav.nav-tabs {
	text-align: center;
}

/* 
.play-tab-content {
	background: #efefef;
	height: 100vh;
	// float: left; 
		width: 100%;
	//position: relative; 
}
 */
.tab-content nav > .nav.nav-tabs {
	border: none;
	color: #fff;
	border-radius: 0;
	
}

.tab-content nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.play-tab-content nav{
background: #efefef;
}

.play-tab-content nav li {
	width: 50% !important;
	text-align: center;
	margin-top: 15px;
	color: #191919;
	display: inline-block;
	vertical-align: top;
}

.play-tab-content nav li span {
	float: left;
	width: 70px;
	height: 40px;
	line-height: 40px;
}

.play-tab-content nav li a.active {
	background: #d9d9d9;
	border-color: rgba(222, 226, 230, 0) rgba(222, 226, 230, 0) rgba(255, 255, 255, 0);
}

.play-tab-content nav ul li a {
	width: 120px;
	background: #efefef;
	border-radius: 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
	padding: 8px 0;
	height: 40px;
	display: block;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: #191919;
	float: left;
	text-decoration: none;
}

.tab-content .tab-content {
	background: #efefef;
}

.tab-content nav li a.nav-item.nav-link:hover,
.tab-content nav li a.nav-item.nav-link:focus {
	border: none;
	background: #d9d9d9;
	color: #191919;
	border-radius: 0;
	transition: background 0.2s linear;
}

.tab-content .tab-pane.fade.show {
	display: none !important;
}

.tab-content .tab-pane.fade.active.in {
	display: block !important;
	max-height: 150px;
	overflow-y: scroll;
	margin-top: 10px;
}

.tab-content ul.multiple-time-item {
	margin: 15px 0 0 0;
	padding: 0 0 0 15px;
	list-style: none;
}

.tab-content ul.multiple-time-item li {
	display: inline-block;
	width: 23.5%;
	margin: 2.5px 1px;
}

.tab-content ul.multiple-time-item li a {
	background: #d9d9d9;
	color: #000;
	padding: 10px 10px;
	width: 100%;
	display: block;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
}

.play-btn-right {
	width: 100%;
	padding: 0 15px;
}

.play-btn-right a {
	font-size: 18px;
	color: #fff;
	text-align: center;
	display: block;
	background: #1565c0;
	border-radius: 4px;
	padding: 12px 0;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
}

.panel-group {
	margin-bottom: 10px;
}

.game-top-header span {
	margin-left: 5px;
}
.right-section .right-content-desktop .rightBarBottomTabs ol li {
	height: 78px;
}

/* Move button control to bottom. */
.moveAction button:hover {
	background:#d4d4d4 !important; 
	opacity: 0.8;
  }

  /* game status css */

  .gamestatus {
    position: relative;
}
.gamestatus:before {
    background: #777;
    position: absolute;
    width: 12px;
    height: 12px;
    content: "";
    border-radius: 100px;
    left: 8px;
    top: 6px;
}
.gamestatus span{
	margin-left: 15px;
}

.gamestatus.active:before{
	background: #4cd034;
	
}
.gamestatus.active span {
	color:#333;
}
.gamestatus.default span {
	color:#333;
}

.gamestatus.default:before{
	background:#1565c0;

}

/*popup css*/
.modal-show .modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    top: 0;
    left: 0;
}

  
  
@media (min-width: 992px) and (max-width: 1199px) {
/* 	.right-section {
		width: 48% !important;
		max-width: 48% !important;
	} */
	.board-section .board-player-top {
		display: none;
	}

	.board-section .board-player-bottom {
		display: none;
	}

	.right-content-desktop {
		display: block;
	}
	
	.board-player-top {
		position: relative;
		display: flex;
		flex: 0 0 40px;
		flex-direction: row;
		height: 90px;
		min-height: 90px;
		padding-top: 0;
		padding-bottom: 3px;
		padding-left: 0;
		line-height: 68px;
		align-items: center;
		width: 100%;
	}

	.user-pic {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.user-tagline-component {
		margin-top: 0;
		margin-left: 10px;
	}

	.user-tagline-username {
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		margin-right: 5px;
	}

	.user-tagline-username:hover {
		color: #fff;
	}

	.clock-top {
		right: 15px;
		padding: 3px 10px;
		top: 27px;
		background: #474747;
	}

	.ipad-scrore-right {
		padding: 15px;
		float: left;
		width: 100%;
		line-height: 30px;
		font-size: 14px;
	}

	.board-player-bottom {
		position: absolute;
		display: flex;
		flex: 0 0 40px;
		flex-direction: row;
		height: 90px;
		min-height: 90px;
		padding: 0 0 0 0;
		bottom: 50px;
		width: 100%;
		background: #000;
		align-items: center;
	}

	.move-list-buttons {
		background: #222121;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50px;
		color: #828282;
		text-align: center;
		display: flex;
		align-items: center;
	}

	.move-list-item {
		flex: auto;
	}

	.board-section {
		width: 68.5% !important;
		max-width: 68.5% !important;
		flex: inherit !important;
		padding-left: 15px;
		height: 100%;
		padding-right: 0;
		margin-top: 13px;
	}

	

	.ipad-right-section {
		background: #000000;
	}

	.main {
		background: #000;
		height: 100vh;
		padding: 0 15px;
		width: 100%;
	}
	.home {
	height: 100vh;
	}
	.white span.notation-322f9.numeric-fc462,
	.blue .alpha-d2270 {
		color: #fff;
	}

	.blue span.notation-322f9.numeric-fc462,
	.blue .alpha-d2270 {
		color: #1565c0;
	}

	.numeric-fc462 {
		top: 4px;
		left: 5px;
		font-weight: bold;
	}

	.alpha-d2270 {
		bottom: 4px;
		right: 6px;
		font-weight: bold;
	}
}

@media (min-width: 992px) {
	
		
	.ribbon-move-list {
		display: none;
	}

	.move-list-buttons.ipad-768 {
		display: none;
	}
}


@media (min-width: 1900px) {
	.user-pic {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.right-top-content {
		height: 55vh;
	}

	.right-bottom-content {
		height: 45vh;
	}
/*
	.game-buttons-move {
		bottom: 52.5vh;
	}
*/
	/* .draw-section {
		bottom: 46vh;
	}
 */
	.main-square {
		width: 42vw;
		height: 42vw;
	}

	/*.left-col {
		padding-left: 0;
		position: fixed;
		width: 16.66666667%;
	}*/

	.board-section {
		width: 44%;
		margin-left: 15.666667%;
	}

	.board-player-top {
		height: 60px;
		min-height: 45px;
		padding-top: 5px;
		padding-bottom: 3px;
		width: 42vw;
	}

	.clock-top {
		top: 15px;
	}

	.board-player-bottom {
		height: 45px;
		min-height: 45px;
		padding-top: 15px;
		width: 42vw;
	}
}
