@charset "utf-8";
/* CSS Document */

/* Figure Set */
.black-rook {background-image: url(images/chess-figures/set1-black-rook.png);}
.black-knight {background-image: url(../images/chess-figures/set1-black-knight.png);}
.black-bishop {background-image: url(../images/chess-figures/set1-black-bishop.png);}
.black-queen {background-image: url(../images/chess-figures/set1-black-queen.png);}
.black-king {background-image: url(../images/chess-figures/set1-black-king.png);}
.black-pawn {background-image: url(../images/chess-figures/set1-black-pawn.png);}

.white-rook {background-image: url(../images/chess-figures/set1-white-rook.png);}
.white-knight {background-image: url(../images/chess-figures/set1-white-knight.png);}
.white-bishop {background-image: url(../images/chess-figures/set1-white-bishop.png);}
.white-queen {background-image: url(../images/chess-figures/set1-white-queen.png);}
.white-king {background-image: url(../images/chess-figures/set1-white-king.png);}
.white-pawn {background-image: url(../images/chess-figures/set1-white-pawn.png);}

/*CHESS AREA*/
.piece {width:100%;background-size: contain;cursor: pointer;}
.main-chess-area {
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	z-index:200;
}
.chess-area {
	height: 100vh;
	width: auto;
	margin-right: 20%;
	margin-left: 120px;
	/*max-width:*/
}
.chess-board-area {
	height: 100vh;
	width: 100%;
	max-width:822px;
	margin-right: auto;
	margin-left: auto;
}
.main-chess-area .profile-area {
	width: auto;
	padding: 12px 16px 10px 2px;
}
.main-chess-area .profile-area .profile-pic {
	float: left;
	height: 32px;
	width: 32px;
	margin-right: 10px;
}
.main-chess-area .profile-area .profile-text {
	font-size: 18px;
	margin-top: 5px;
}
.main-chess-area .chess-area .profile-highlight {
	color: #8d8d8d;
	font-size: 14px;
}

.main-chess-area .clock-area {
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	text-align: right;
	float: right;
}
.main-chess-area  .error {
	color: #f38080 !important;
}
.chess-board {
	border-radius: 5px;
	overflow: hidden;
}
.chess-board .chess-row {}
.chess-board .chess-row .chess-field-light {
	width:12.5%;
	float: left;
	background-color: #d8e8f0;
	min-height:10px;
}
.chess-board .chess-row .chess-field-dark {
	width:12.5%;
	float: left;
	background-color: #2768b3;
	min-height:10px;
}
@media (min-width: 801px) and (max-width: 1150px) {
	.main-chess-area {
		position: relative;
		height: auto;
		margin-top:0;
		margin-bottom:30px;
	}
	.chess-area {margin-right: 30px;margin-left: 30px; height: auto;}
	.chess-board-area {
		height: auto;
	}
}

@media all and (max-width: 800px) {

	.main-chess-area {
		position: relative;
		height: auto;
		margin-top:80px;
		margin-bottom:30px;
	}
	.chess-area {margin-right: 30px;margin-left: 30px; height: auto;}
	.chess-board-area {
		height: auto;
	}
}
/* Explorer fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.chess-board-area {
		max-width:762px;
	}
}
