.ant-table-tbody > tr:hover > td {
    background: #1890ff !important;
    cursor: pointer !important;
    color: #ffffff !important;
}

.ant-modal-close:focus {
    outline: 1px solid rgba(0, 0, 0, .3) !important;
}