<template name="login">
    <div>
        <h2 class="profile-text">Login</h2>
        <form class="register">
            <p class="profile-text">Email: <input type="email" name="email"></p>
            <p class="profile-text">Password: <input type="password" name="password"></p>
            <p class="profile-text">{{Error}}</p>
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
    <hr/>
    <div>
        <h2 class="profile-text">Register</h2>
        <form class="register">
            <!-- TODO: I think we are going to need a unique username. I don't think users will want to use their email addresses as display names -->
            <p class="profile-text">First Name: <input type="text" name="firstname"></p>
            <p class="profile-text">Last Name: <input type="text" name="lastname"></p>
            <p class="profile-text">Legacy Username: <input type="text" name="legacyusername"></p>
            <p class="profile-text">Legacy Password: <input type="password" name="legacypassword"></p>
            <p><input type="submit" value="Register"></p>
        </form>
    </div>
</template>